.yurayura {
  animation: horizontal 1s ease-in-out infinite alternate;
}

.yurayura a {
  display: block;
  animation: vertical 1.7s ease-in-out infinite alternate;
}

.textShadow {
  text-shadow: 5px 5px 2px rgba(54, 29, 29, 0.25);
}

@keyframes horizontal {
  0% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes vertical {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
