.yurayura {
  animation: horizontal 1s ease-in-out infinite alternate;
}

.yurayura a {
  display: block;
  animation: vertical 1s ease-in-out infinite alternate;
  animation-duration: 1.5s;
}

.textShadow {
  text-shadow: 5px 5px 3px rgba(31, 41, 55, 0.3);
}

@-webkit-keyframes horizontal {
  0% {
    -webkit-transform: translateX(-3px);
  }
  100% {
    -webkit-transform: translateX(0px);
  }
}

@-webkit-keyframes vertical {
  0% {
    -webkit-transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0px);
  }
}
