@tailwind base;

/* Start purging... */
@tailwind components;
/* Stop purging. */

.border-light {
  border: 1px solid #ebecf0;
}

@variants dark, hover {
  .border-dark {
    border: 1px solid #273344;
  }
}

.article-title-leading {
  @apply leading-normal !important;
}

.image-wrapper {
  @apply mx-auto my-4 md:my-6 lg:my-10 rounded md:rounded-md shadow overflow-hidden table;
}

.image-wrapper > div {
  vertical-align: top;
}

.prose > blockquote {
  border-left-color: #d3d7dd !important;
}

.prose > pre {
  @apply font-mono shadow dark:bg-pre-bg;
}

.prose p > code,
.prose li > code {
  @apply px-2 py-0.5 mx-1 font-normal text-neumo bg-gray-800 dark:bg-pre-bg rounded-sm;
  font-size: inherit;
}

.prose p > code::before,
.prose p > code::after,
.prose li > code::before,
.prose li > code::after {
  content: none;
}

.toggle-checkbox {
  @apply absolute left-0 block w-6 h-6 border-4 rounded-full appearance-none cursor-pointer focus:outline-none bg-gray-800 dark:bg-white border-neumo dark:border-gray-800;
}

.toggle-checkbox:checked {
  @apply left-auto right-0 border-gray-800;
}

.toggle-label {
  @apply block h-6 align-middle overflow-hidden rounded-full cursor-pointer text-neumo dark:text-gray-800 bg-neumo dark:bg-gray-800 border-light dark:border-dark
  shadow-neumo dark:shadow-neumo-dark;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */
