/* 再利用スタイル */
.textShadow {
  text-shadow: 6px 6px 2px #434c5e40;
}
.my-leading-normal {
  @apply leading-normal !important;
}
.wave {
  animation: horizontal 1s ease-in-out infinite alternate;
}
.wave a {
  display: block;
  animation: vertical 1.7s ease-in-out infinite alternate;
}

/* 個別適用スタイル */
.toggle-checkbox {
  @apply w-6 h-6 bg-night-200 border-snow-200 border-4 rounded-full block absolute left-0 cursor-pointer appearance-none focus:outline-none;
}
.toggle-checkbox:checked {
  @apply bg-snow-100 border-night-300 left-auto right-0;
}
.image-wrapper {
  @apply mx-auto my-4 md:my-6 lg:my-8 rounded overflow-hidden table;
}
.image-wrapper > div {
  vertical-align: top;
}
.prose strong {
  @apply p-0.5 mx-0.5 border-b-2 border-night-200 dark:border-snow-100 border-dotted;
}
.prose a > code,
.prose p > code,
.prose strong > code,
.prose ul > code,
.prose li > code {
  @apply mx-1 font-normal dark:bg-night-500 rounded-sm;
  padding: 0.15em 0.5em;
  font-size: 0.875em;
  background-color: #dde3ee;
}
.prose a > code::before,
.prose a > code::after,
.prose p > code::before,
.prose p > code::after,
.prose strong > code::before,
.prose strong > code::after,
.prose ul > code::before,
.prose ul > code::after,
.prose li > code::before,
.prose li > code::after {
  content: none;
}
.prose > blockquote {
  border-left-color: #d3d7dd !important;
}
.prose > pre {
  @apply font-mono bg-code-bg-light dark:bg-code-bg-dark rounded border border-clearness dark:border-shadow-dark shadow-inset-light dark:shadow-inset-dark;
}
@media (min-width: 1024px) {
  .prose > pre::-webkit-scrollbar {
    height: 8px;
    background-color: transparent;
  }
  .prose > pre::-webkit-scrollbar-thumb {
    @apply bg-shadow-light dark:bg-shadow-dark rounded;
  }
}

/* 拡張アニメーション */
@keyframes horizontal {
  0% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes vertical {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
