@import 'styles/mixins';

.root {
  max-width: 1350px;
  margin: -1.5em auto 0;
  @include mq(sm) {
    padding: 0 0.8em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @include mq(md) {
    margin: -1.6em auto 0;
  }
  @include mq(lg) {
    margin: -1.8em auto 0;
  }

  & > article {
    width: 95%;
    padding: 1em;
    margin: 1.5em auto 0;
    @include mq(sm) {
      width: 46%;
    }
    @include mq(md) {
      margin: 1.6em 0 0;
    }
    @include mq(lg) {
      width: 30%;
      margin: 1.8em 0 0;
    }
    @include mq(xl) {
      width: 23%;
    }
  }
}
