@import 'styles/mixins';

.article {
  max-width: 360px;
  border-radius: 5px;
  box-shadow: var(--s-neumo);
  display: flex;
  flex-direction: column;
  position: relative;
  & .loader {
    width: 1.8em;
    height: 1.8em;
    opacity: 0;
    position: absolute;
    bottom: 0.5em;
    right: 1em;
    transition: opacity 0.2s;
    & .inner1 {
      width: 100%;
      height: 100%;
      border-bottom: 3px solid var(--c-text-thin);
      border-radius: 50%;
      position: absolute;
      top: 0%;
      left: 0%;
      animation: rotate-one 1s linear infinite;
    }
    & .inner2 {
      width: 100%;
      height: 100%;
      border-right: 3px solid var(--c-text-thin);
      border-radius: 50%;
      position: absolute;
      top: 0%;
      right: 0%;
      animation: rotate-two 1s linear infinite;
    }
    & .inner3 {
      width: 100%;
      height: 100%;
      border-top: 3px solid var(--c-text-thin);
      border-radius: 50%;
      position: absolute;
      bottom: 0%;
      right: 0%;
      animation: rotate-three 1s linear infinite;
    }
  }
  &:hover {
    .loader {
      opacity: 1;
    }
  }
  & hr {
    padding: 0 0 0.6em;
    margin: auto 0 0;
    color: var(--c-border);
  }
}

.thumbnail {
  background-color: var(--c-bg-3);
  border-radius: 5px;
  box-shadow: var(--s-pre);
  overflow: hidden;
  & > * {
    vertical-align: middle;
  }
  & img {
    filter: drop-shadow(var(--s-drop));
  }
}

.date {
  margin: 0.8em 0.5em 0;
  color: var(--c-text-thin);
  font-size: 0.85em;
  font-style: italic;
  text-align: right;
  display: block;
}

.title {
  padding: 0.7em 0 1em;
  font-size: 1em;
  line-height: 1.4;
  letter-spacing: 0.01em;
  word-break: break-all;
  & a {
    display: block;
    &:hover {
      opacity: 1;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
  }
}

.keywords {
  color: var(--c-text-thin);
  font-size: 0.85em;
  display: flex;
  flex-wrap: wrap;
  & li {
    margin: 0 1em 0 0;
    font-style: italic;
    &::before {
      content: '#';
      padding: 0 0.1em 0 0;
    }
  }
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
