.article {
  padding: 1em 1em;
  margin: 0 auto;
  letter-spacing: 0.02em;
  display: table;
}

.title {
  font-size: 7em;
  font-weight: bold;
  line-height: 1;
  text-align: center;
}

.subtitle {
  margin: 0.2em 0 0;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.message {
  margin: 2em 0 0;
  text-align: center;
}
