name: ci

on:
  push:
  pull_request:
  workflow_dispatch:

env:
  API_KEY: ${{secrets.API_KEY}}
  API_ENDPOINT: ${{secrets.API_ENDPOINT}}
  DRAFT_TOKEN: ${{secrets.DRAFT_TOKEN}}

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'

      - name: package install
        run: yarn install

      - name: next build
        run: yarn build

      - name: eslint stylelint
        run: yarn lint

      - name: run test
        run: yarn test
